.wrapper {
  width: 430px;
  max-width: 500px;
  padding: 1px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}

.focused {
  border: 1px solid #d4af3766;
}
.input {
  color: #fdf6eb;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.secondary {
  color: #fdf6eb;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 0px 15px;
  background: transparent;
  font-weight: 500;
  transition: all 0.3s ease;

  backdrop-filter: blur(10px);
  background: rgba(47, 22, 47, 0.57);
}

.secondary:hover {
  background: rgba(47, 22, 47, 0.35);
  border-color: #d4af3766;
}

.secondary:active {
  transform: translateY(1);
}
.searchResult {
  transition: 0.2s;
  display: flex;
  background-color: #1f0f1fa8;
  border-radius: 5px;
  border: 1px solid #d4af3766;
}
.searchResult:hover {
  background: rgba(255, 255, 255, 0.05);
}
.selected {
  background: rgba(255, 255, 255, 0.05);
}