.root {
  position: relative;
  padding: var(--mantine-spacing-sm);
  background-color: #1f0f1fa8;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;

  transition: all 150ms ease;
}

.root:hover {
  border-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-1px);
  background-color: rgba(31, 15, 31, 0.85);
}

.root[data-checked] {
  border-color: #7b6210;
  background-color: rgba(31, 15, 31, 0.774);
}

.label {
  font-weight: bold;
  font-size: var(--mantine-font-size-sm);
  line-height: 1.3;
  color: #fcf1e0;
}

.description {
  margin-top: 8px;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}
.indicator {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 150ms ease;
}

.root[data-checked] .indicator {
  background-color: #7b6210;
  border-color: #7b6210;
}

.addAddressButton {
  display: block;
  width: 100%;
  border: 1.5px dashed var(--mantine-color-surface-7);
  border-radius: 20px;
  background-color: #1f0f1f5e;
  color: var(--mantine-color-surface-7);
}
.addAddressButton:hover {
  border-color: var(--mantine-color-surface-7);
  background-color: #1f0f1f5e;

  color: var(--mantine-color-surface-7);
}
